
.Team_B {
  position: absolute;
  right: 565px;
  top: 175px;
  width: 210px;
  height: 80px;
  z-index: 18;
  background: rgba(0,0,0, 0.75);
  transform: translateX(200px);
  -webkit-transform: translateX(200px);
  -moz-transform: translateX(200px);
  -ms-transform: translateX(200px);
  -o-transform: translateX(200px);
  opacity: 0;
  overflow: hidden;
}

.Team_B>.separator1 {
  position: absolute;
  right: 103px;
  top: 10px;
  width: 4px;
  height: 60px;
  z-index: 210;
  background: rgb(236,236,236);
}

.Team_B>.TeamMoney {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 105px;
  height: 80px;
  z-index: 208;
  /* background: rgb(47,250,47); */
}

.Team_B>.TeamMoney>.Upper_Container {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 105px;
  height: 43px;
  z-index: 208;
  /* background: rgb(47,250,47); */
}

.Team_B>.TeamMoney>.Upper_Container>.txt {
  position: absolute;
  left: 0px;
  top: 5px;
  width: 105px;
  height: 45px;
  z-index: 208;
  /* opacity: 0.3; */
  font-size: 18px;
  font-family: 'Cutmark';
  font-weight: 300;
  font-style: normal;
  color: rgb(255,255,255);
  /* text-transform: uppercase; */
  /* font-weight: 600; */
  letter-spacing: 1.8;
  line-height: 1;
  text-align: center;
}

.Team_B>.TeamMoney>.Lower_Container {
  position: absolute;
  right: 5px;
  bottom: 5px;
  width: 95px;
  height: 22px;
  z-index: 208;
  /* background: rgb(47,250,47); */
}

.Team_B>.TeamMoney>.Lower_Container>.txt {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 95px;
  height: 22px;
  z-index: 208;
  /* opacity: 0.3; */
  font-size: 18px;
  font-family: 'Cutmark Xlight';
  font-weight: 600;
  font-style: normal;
  color: rgb(255,255,255);
  text-transform: uppercase;
  /* font-weight: 600; */
  letter-spacing: 2;
  line-height: 1;
  text-align: center;
}

.Team_B>.EquipValue {
  position: absolute;
  right: 105px;
  top: 0px;
  width: 105px;
  height: 80px;
  z-index: 208;
  /* background: rgb(47,47,250); */
}

.Team_B>.EquipValue>.Upper_Container {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 105px;
  height: 43px;
  z-index: 208;
  /* background: rgb(47,250,47); */
}

.Team_B>.EquipValue>.Upper_Container>.txt {
  position: absolute;
  right: -1px;
  top: 5px;
  width: 105px;
  height: 45px;
  z-index: 208;
  /* opacity: 0.3; */
  font-size: 18px;
  font-family: 'Cutmark';
  font-weight: 300;
  font-style: normal;
  color: rgb(255,255,255);
  /* text-transform: uppercase; */
  /* font-weight: 600; */
  letter-spacing: 1.8;
  line-height: 1;
  text-align: center;
}

.Team_B>.EquipValue>.Lower_Container {
  position: absolute;
  right: 5px;
  bottom: 5px;
  width: 95px;
  height: 22px;
  z-index: 208;
  /* background: rgb(47,250,47); */
}

.Team_B>.EquipValue>.Lower_Container>.txt {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 95px;
  height: 22px;
  z-index: 208;
  /* opacity: 0.3; */
  font-size: 18px;
  font-family: 'Cutmark Xlight';
  font-weight: 600;
  font-style: normal;
  color: rgb(236,236,236);
  text-transform: uppercase;
  /* font-weight: 600; */
  letter-spacing: 2;
  line-height: 1;
  text-align: center;
}